/* App.css */
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.row
{
width: 1320px; 
margin: 50px ;
display: flex;
flex-wrap: wrap;
margin: 2%;
}   
.cardItem
{
    flex-basis: 15%;
    margin: 3%;
    height: 200px;
    background-color: #a7acb8;

}
.Footer-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: #f8f8f8;
}
.fb
{  
    width: 40px;
    height: 42px;
    object-fit: cover;
   
}
.ins
{  
    width: 40px;
    height: 40px;
    object-fit: cover;
    mix-blend-mode: color-burn;
    border-radius: 100%  ;
}
.header-container {
  display: flex;
  align-items: center; /* Align logo and content vertically */
  padding:  10px 30px;
  border-bottom: 2px solid #e5e5e5;
}

.mainlogo {
  width: 70px;
  height: 70px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; 
  flex-grow: 1;
}

.welcomee {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 10px;
}

.search-bar {
  width: 50%;
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #0b0b0b;
  border-radius: 20px;
  outline: none;
  text-align: left;
  margin-top: 10px;
}
.Search
{
  height:50px;
  width:auto;
  padding: 10px;
}